* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
a {
  text-decoration: none;
  color: #000;
}

/* ------------------------------ Menu Section ------------------------------ */

header {
}
header nav {
  padding: 0 10px;
  background-color: #fff;
}
nav .fa-bars {
  display: none;
  transition: transform 0.3s;
}
nav .fa-bars.active {
  transform: scale(0.6);
  display: none;
}
nav .fa-bars.active + ul {
  display: flex;
  flex-direction: column;
}
header nav ul {
  width: fit-content;
  margin: auto;
  list-style: none;
  display: flex;
  gap: 30px;
}
header nav ul li {
  transition: all 0.4s;
  padding: 30px;
}

header nav > ul > li:hover {
  background-color: rgb(43, 203, 80);
}

ul li i {
  margin-right: 5px;
}

.nested-menu {
  position: relative;
  transition: height 0.4s;
  animation: bounce 0.5s ease;
}
.nested-menu.active {
  animation: bounce 0.5s ease;
}
/* li {
  animation: bounce 0.5s ease;
} */
.nested-menu::before {
  content: "\2b";
  font-family: "Font Awesome 6 Free";
  font-weight: 500;
}
.nested-menu .sub-menu {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: aliceblue;
}
@media (max-width: 720px) {
  .nested-menu .sub-menu {
    position: relative;
    left: 0 !important;
    right: 0 !important;
    top: 10px;
  }
}
.nested-menu .nested-menu:nth-child(2n) .sub-menu {
  left: 100%;
}
.nested-menu .nested-menu:nth-child(2n + 1) .sub-menu {
  right: 100%;
}
.nested-menu.active > ul > li {
}
.nested-menu.active > .sub-menu {
  display: flex;
}
.nested-menu .sub-menu > ul {
  display: flex;
  flex-direction: column;
}
.nested-menu .sub-menu > ul > li {
}

@media (max-width: 1100px) {
  nav.menu-bar > .fa-bars {
    font-size: 1.7rem;
    width: fit-content;
    margin-left: auto;
    display: block;
  }
  nav.menu-bar > ul {
    display: none;
  }
}

/* ------------------------------- Responsive ------------------------------- */

/* ------------------------------ Main Section ------------------------------ */

main {
  /*cannot get assets previous root directory*/
  /* background-image: url(../assets/Background-image-2.png); */
  background-image: url(assets/Background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/* -------------------------------- Keyframes ------------------------------- */

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
